---
import ButtonMain from '~/components/ButtonMain.astro';
import Default from '~/layouts/Default.astro';
import Section from '~/components/Section.astro';
import { Languages } from '../../utils/types';

export async function getStaticPaths() {
	return Languages.values().map((language: any) => {
		return {
			params: { lang: language },
			props: { language },
		};
	});
}
const { language } = Astro.props;
---

<Default title="Design">
	<header class="relative">
		<nav class="background_gradient h-[70vh] flex flex-col w-full items-center justify-center">
			<h1 class="mb-50px text-5xl font-bold mx-auto text-center">
				{language == 'it' ? <>Scuola del Design</> : <>School of Design</>}
			</h1>
			<div class="grid grid-cols-2 gap-6">
				<ButtonMain
					icon_class="fa fa-telegram"
					name={language == 'it' ? 'CANALE' : 'CHANNEL'}
					url="https://t.me/designpolimichannel"
				/>
				<ButtonMain
					icon_class="fa fa-telegram"
					name={language == 'it' ? 'GRUPPO' : 'GROUP'}
					url="https://t.me/designpolimi"
				/>
			</div>
		</nav>
	</header>

	<main class="relative flex flex-col py-50px">
		<Section
			Language={language}
			slug="c"
			group_id_tg="-FGw_Uu0mNhhNDc0"
			prefix_tg="joinchat"
			group_id_wa="CFL9luEHDaPEP3XlPmsTvg"
		>
			{
				language == 'it' ? (
					<>
						Design della <b>Comunicazione</b>
					</>
				) : (
					<>
						<b>Communication</b> Design
					</>
				)
			}
		</Section>
		<Section
			Language={language}
			slug="m"
			group_id_tg="USDQdX1237Q0ODM0"
			prefix_tg="joinchat"
			group_id_wa="Fhio6kjxMc4AigqE04SMuC"
		>
			{
				language == 'it' ? (
					<>
						Design della <b>Moda</b>
					</>
				) : (
					<>
						<b>Fashion</b> Design
					</>
				)
			}
		</Section>
		<Section
			Language={language}
			slug="p"
			group_id_tg="IxK8a-Qx1q4zNTlk"
			prefix_tg="joinchat"
			group_id_wa="JL4VntgoehaFYeWIhqGMjP"
		>
			{
				language == 'it' ? (
					<>
						Design del <b>Prodotto</b>
					</>
				) : (
					<>
						<b>Product</b> Design
					</>
				)
			}
		</Section>
		<Section
			Language={language}
			slug="i"
			group_id_tg="KnRl4gqrIzs1Y2Nk"
			prefix_tg="joinchat"
			group_id_wa="HnlEuwx5GWqFFQauVbQc4M"
		>
			{
				language == 'it' ? (
					<>
						Design degli <b>Interni</b>
					</>
				) : (
					<>
						<b>Internal</b> Design
					</>
				)
			}
		</Section>
		<Section Language={language} slug="mas" group_id_tg="+usyNF7hEjlViOTE0" group_id_wa="IdO6ICx5dGeEdzYNKj85XO">
			Design
			<b> Engineering</b><br />
			<b> Product Service System</b>
			Design
			<br />
			<b>Digital Interaction</b> Design
		</Section>
	</main>

	<footer><a href="https://polinetwork.org">PoliNetwork</a></footer>
</Default>
